In [1]:
import pandas as pd
import re

# Importación de datos

In [2]:
df = pd.read_csv("data/dataset_SCL.csv")

c:\Users\juanf\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

- Fecha-I : Fecha y hora programada del vuelo.
- Vlo-I : Número de vuelo programado.
- Ori-I : Código de ciudad de origen programado.
- Des-I : Código de ciudad de destino programado.
- Emp-I : Código aerolínea de vuelo programado.
- Fecha-O : Fecha y hora de operación del vuelo.
- Vlo-O : Número de vuelo de operación del vuelo.
- Ori-O : Código de ciudad de origen de operación
- Des-O : Código de ciudad de destino de operación.
- Emp-O : Código aerolínea de vuelo operado.
- DIA : Día del mes de operación del vuelo.
- MES : Número de mes de operación del vuelo.
- AÑO : Año de operación del vuelo.
- DIANOM : Día de la semana de operación del vuelo.
- TIPOVUELO : Tipo de vuelo, I =Internacional, N =Nacional.
- OPERA : Nombre de aerolínea que opera.
- SIGLAORI : Nombre ciudad origen.
- SIGLADES : Nombre ciudad destino.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.4+ MB

# APUNTES

- En el reporte generado se encontró lo siguiente:
    - Las dos columnas de fecha no tienen el formarto correcto
    - Las columnas Vlo-I y Vlo-O tienen la etiqueta "not support" por lo que tienen problemas. Se revisará y corregirá
    - Las columnas Ori-O, Ori-I y SIGLAORI son columnas con valor constante.
        - Ori-O : "SCEL"
        - Ori-I : "SCEL"
        - SIGLAORI : "Santiago"

# PREPROCESAMIENTO - LIMPIEZA

In [5]:
# FORMATEO DE FECHA
datetime_format = "%Y-%m-%d %H:%M:%S"
df["Fecha-I"] = pd.to_datetime(df["Fecha-I"], format=datetime_format)
df["Fecha-O"] = pd.to_datetime(df["Fecha-O"], format=datetime_format)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  datetime64[ns]
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  datetime64[ns]
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: datetime64[ns](2), int64(3), object(13)
memory usage: 9.4+ MB

"Vlo-I" tiene problemas con letras mezcladas con los dígitos

In [7]:
df["Vlo-I"] = df["Vlo-I"].astype(str).apply(lambda x: re.findall(r'\d+', x)[0] ).astype(int)
df["Vlo-I"].unique()

array([ 226,  912,  940,   92,   93,  401,   11, 1011, 1281, 1283, 1285,
       1287, 1289, 1291, 2291,   98,  116,  176,  240,  295,  689,  250,
        112,  118,  174,  249,  276,  495, 4495,  146, 7661, 7663, 9245,
       9268, 9362, 6830,  702,  624,   28,  846,  709,  741, 8021, 8023,
       8027, 8029, 8069, 8073, 8075, 8099, 8125, 8137, 8160, 8161, 9601,
       9615, 9651, 9653, 9661, 9689, 9782, 9623,    1,    3,    7,    9,
         13,   15,   17,   21,   23,   25,   41,   43,   51,   53,   55,
         61,   71,   73,   75,   81,   83,  102,  104,  106,  108,  110,
        120,  122,  128,  130,  132,  134,  140,  142,  150,  156,  160,
        162,  164,  166,  170,  172,  180,  182,  184,  186,  188,  190,
        192,  194,  196,  501,  503,  507,  521,  531,  551,  800,  802,
        804, 1083,   14,   31,   35,   37,   57,   65,   67,   69,   89,
         91,   97,  114,  124,  126,  136,  138,  144,  148,  152,  154,
        168,  178,  201,  203,  207,  209,  211,  213,  215,  217,  219,
        221,  231,  233,  235,  237,  239,  241,  247,  251,  257,  259,
        261,  263,  265,  267,  269,  271,  273,  275,  277,  279,  281,
        283,  285,  287,  289,  291,  293,  297,  300,  302,  304,  306,
        308,  312,  314,  318,  320,  322,  324,  326,  328,  330,  332,
        334,  336,  338,  340,  342,  344,  346,  348,  350,  366,  374,
        380,  382,  384,  386,  388,  396,  403,  405,  439,  443,  445,
        449,  451,  455,  461,  481,  500,  502,  504,  510,  530,  532,
        534,  546,  572,  574,  576,  582,  592,  600,  602,  622,  632,
        642,  646,  648,  650,  704,  708,  750,  752,  760,  772,  776,
        778,  798,  801,  833,  841,  843,  845,  849,  900,  902,  906,
        910,  930,  932,  934,  942,  952,  954,  968,  970,  972,  986,
        988,  991,  993, 1320, 1322, 1326, 1334, 1357, 1359, 1446, 1498,
       2632, 2636, 2638, 2640, 2650, 2702, 4501, 4503, 1003, 1004, 1005,
       1302, 1340,  200,  700, 1704,   33,   59,   95,  243,  634, 1200,
       1202, 1300, 1071,   99,  158,  198,  205,  376,  378,  404,  406,
        410,  414,  430,  432,  434,  438,  486,  492,  536,  638,  640,
        644,  864,  890,  892, 1122, 1126, 1151, 1363, 1946, 2370, 2372,
       2374, 7811, 7813, 1165, 1301, 1351, 1906,  204, 9625, 8665, 4950,
         45,  100,  523, 1025, 4000,   63,  352,  354,  452,  460,  636,
        674,  888,  895,  897, 1108, 1124, 1128, 1236, 1248, 2364, 2366,
       2378, 2474, 2478, 1050, 1051, 1052, 1061, 1101, 1102, 1104, 1130,
       1159, 1230,  202,  989, 3000, 9000,  459,  483, 1114, 1168, 1238,
       1239, 1261, 1107, 1140, 1167, 1271, 1031, 1700, 9659, 1551, 1800,
        358, 1103, 1111, 2518, 7959,  400,  402, 2297, 9244, 9246, 9247,
       9261, 9272, 9673, 9956, 9600, 9629, 9662, 9701, 9955,    5,   77,
        553,  316,  368,  372,  470,  506,  604, 1136, 1158, 1242, 1244,
       2368, 2486, 1105, 1106, 1113, 1115, 1132, 1155, 1166, 2488, 1400,
       1033,    4,    8,   26,   22, 1927, 7721,  591, 8519, 8525, 8541,
       8542, 9622,  356, 1138, 1148, 1041,    6,   32,   50,   52,   86,
         88, 9301, 9303,   47,   60, 1234, 1250, 1241, 1034, 1035, 1043,
       7704,   10,  253, 1502, 8083, 8131, 9851,   27,  543, 1198,   39,
         87,  390,  448,  664,  805, 1054, 1065, 1116, 1121, 1146, 1154,
       1188, 1193, 1218, 1222, 1224, 1226, 1228, 1235, 1237, 1249, 1260,
       1262, 1264, 1428, 7896, 7899, 1142, 1240, 2600,   30, 2092, 2093,
       3624, 9643, 9461, 9510, 9540,  706, 1088, 1091, 1099, 1134, 1169,
       1170, 1195, 1199, 1243, 1251, 1257, 1277, 1279, 1233,   54, 1600,
       2287, 4118, 9289,   85,  555,  620,  630, 1149, 1503, 1531,  232,
        755,  757,  763, 1117, 1141, 1176, 1178, 1186, 1191, 1197, 1246,
       1247, 1259, 1267, 1269, 7911,  255,  301,  305,  307])

In [8]:
characters = pd.Series(list( "".join(df["Vlo-O"].astype(str).unique().tolist() ))).value_counts().index.tolist()
my_characters = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.']
for x in my_characters:
    characters.remove(x)
print(characters)

['R', 'n', 'A', 'B', 'P', 'a']

In [9]:
def clean_Vlo_O(x):
    x = str(x)
    for c in characters:
        x = x.replace(c, "")
    if x == "":
        return -999
    return int(float(x))

In [10]:
df["Vlo-O"] = df["Vlo-O"].apply(lambda x: clean_Vlo_O(x) )

In [11]:
df [df["Vlo-O"]== -999]

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
6068,2017-01-19 11:00:00,200,SCEL,SPJC,LAW,2017-01-19 11:03:00,-999,SCEL,SPJC,56R,19,1,2017,Jueves,I,Latin American Wings,Santiago,Lima

In [12]:
# Fuera valor sin "Vlo-O"
df = df [df["Vlo-O"] != -999]

# Fuera valores de 2018
df = df [df["AÑO"] == 2017]

df.to_csv("data/dataset_SCL_silver.csv", index=False)